body{
    font-family: Arial;
    background-color:white ;
    text-align: center;
}
@media(max-width:768px){
    body{
        background-color: red!important;
    }
}
@media(max-width:480px){
    body{
        background-color: lightpink!important;
    }
}